<!-- entete -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="fs-1">
      <h2>TypeReservation  - {{les_type_reservations.length}}</h2></div>
    <div class="d-flex">
      <button class="btn btn-primary" (click)="openModal_add_type_reservation()"><i class="bi bi-calendar-plus-fill"></i>  Type Reservations</button>
    </div>
  </div>
  <!-- Liste des éléments -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id_type_reservation</th>
<th scope="col">libelle_type_reservation</th>
<th scope="col">description</th>
<th scope="col">etat</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th><th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        @for (one_type_reservation of les_type_reservations; track one_type_reservation) {
          <tr>
            <td>{{one_type_reservation.id_type_reservation}}</td>
<td>{{one_type_reservation.libelle_type_reservation}}</td>
<td>{{one_type_reservation.description}}</td>
<td>{{one_type_reservation.etat}}</td>
<td>{{one_type_reservation.created_at}}</td>
<td>{{one_type_reservation.updated_at}}</td><td>
    <i style="cursor: pointer;" class="bi bi-pencil-square me-2" (click)="openModal_edit_type_reservation(one_type_reservation)"></i>
    <i style="cursor: pointer;" class="bi bi-trash" (click)="delete_type_reservation(one_type_reservation)"></i>
</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
