<div class="body">
  <div class="card login-container mt-5 mb-5">
    <div class="container d-flex justify-content-center">
      <div class="login-box">
        <div class="header  text-center">
          <img style="width: 200px;" src="img/player.png" alt="KAAYFOOTBALL">
        </div>
        <div class="form-box text-center">
          <h2>Identifiez-vous</h2>
          <p class="fs-6 small">Merci de renseigner vos informations de connexion</p>
        </div>

        <form [formGroup]="reactiveForm_login_login" (ngSubmit)="onSubmit_login_login()" #form_login_login="ngForm">
          <!-- Champ Email -->
          <div class="form-group">
            <label class="">Email</label>
            <input class="form-control" type="email" formControlName="login" placeholder="Votre adresse email"
              [ngClass]="{ 'is-invalid': submitted && f.login.errors }" />
            @if (submitted && f.login.errors) {
            <div class="invalid-feedback">
              @if (f.login.errors.required) {
              <div class="error">Ce champ est obligatoire</div>
              }
            </div>
            }
          </div>

          <!-- Champ Mot de passe avec icône -->
          <div class="form-group">
            <label>Mot de passe</label>
            <div class="input-group">
              <input class="form-control password-input" [type]="showPassword ? 'text' : 'password'"
                formControlName="pwd" placeholder="*****************"
                [ngClass]="{ 'is-invalid': submitted && f.pwd.errors }" />
              <button type="button" class="btn-toggle-password" (click)="togglePasswordVisibility()">
                <i class="bi" [ngClass]="showPassword ? 'bi-eye-slash' : 'bi-eye'"></i>
              </button>
            </div>
            @if (submitted && f.pwd.errors) {
            <div class="invalid-feedback">
              @if (f.pwd.errors.required) {
              <div class="error">Ce champ est obligatoire</div>
              }
            </div>
            }
          </div>

          <!-- Bouton de connexion -->
          <div class="button text-center">
            <button type="submit" class="btn-login" [disabled]="loading_login_login">
              {{ loading_login_login ? "En cours ..." : "Se Connecter" }}
            </button>
          </div>
        </form>
      </div>

      <!-- Image -->
      <!-- <div class="image-box">
        <img src="img/balle2" alt="Footballeur"  />
      </div>
    </div> -->
  </div>
</div>
