<aside id="layout-menu" class="layout-menu menu-vertical menu">
  <div class="d-flex align-items-center justify-content-center demo app-brand" id="logo_kaayfootball_bloc">
    <!-- <svg class="logo-svg" viewBox="0 0 157 18" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
      d=""
        fill="white" />
    </svg> -->
    <div class="header  text-center">
      <img style="width: 100px;" src="img/player.png" alt="KAAYFOOTBALL">
    </div>
    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
      <i class="bx bx-chevron-left bx-sm align-middle"></i>
    </a>
  </div>
  <div class="menu-inner-shadow"></div>
  <ul style="list-style: none;" class="menu-inner py-1 mt-2">
    <!-- <li class="menu-header small text-uppercase">
        <span class="menu-header-text"></span>
      </li> -->
    <ng-container *ngFor="let un_menu of api.menu">
      <!-- Dashboard -->
      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">{{ un_menu.menu_header }}</span>
      </li>

      <ng-container *ngFor="let un_item of un_menu.items">
        <li *ngIf="un_item.children.length > 0" class="menu-item" [routerLinkActive]="'active'">
          <a style="text-decoration: none;" [routerLink]="[un_item.path]" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx" [class]="un_item.icon"></i>
            <div data-i18n="Analytics">{{ un_item.name }}</div>
          </a>
          <ul style="list-style: none;" class="menu-sub">
            <li *ngFor="let one_sub of un_item.children" class="menu-item" [routerLinkActive]="'active'">
              <a style="text-decoration: none;" [routerLink]="[one_sub.path]" class="menu-link">
                <i class="menu-icon tf-icons bx" [class]="one_sub.icon"></i>
                <div data-i18n="Analytics">{{ one_sub.name }}</div>
              </a>
            </li>
          </ul>
        </li>
        <li *ngIf="un_item.children.length == 0" class="menu-item" [routerLinkActive]="'active'">
          <a style="text-decoration: none;" [routerLink]="[un_item.path]" class="menu-link">
            <i class="menu-icon tf-icons bx" [class]="un_item.icon"></i>
            <div data-i18n="Analytics">{{ un_item.name }}</div>
          </a>
        </li>
      </ng-container>

      <!-- <li *ngFor="let item of un_menu.items" class="menu-item" [routerLinkActive]="'active'">
        <a style="text-decoration: none;" [routerLink]="[item.path]" class="menu-link" style="text-decoration: none;">
          <i class="menu-icon tf-icons " [class]="item.icon"></i>
          <div data-i18n="Analytics">{{item.name}}</div>
        </a>

      </li> -->
    </ng-container>
  </ul>
</aside>
