<nav class="navbar navbar-expand-lg bg-white shadow-sm py-3">
    <div class="container-fluid">
        <!-- Logo & Menu Toggle (Mobile) -->
        <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
            <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
                <i class="bx bx-menu bx-sm"></i>
            </a>
        </div>

        <!-- Barre de recherche -->
        <div class="d-lg-flex align-items-center flex-grow-1 me-3">
            <i class="bi bi-search fs-5 text-muted me-2"></i>
            <input type="text" class="form-control border " [(ngModel)]="searchService.filter.text"
                (input)="searchService.filter_change()" placeholder="Rechercher...">
        </div>

        <!-- Actions et Menu Utilisateur -->
        <div class="d-flex align-items-center">
            <select class="form-select me-3" [(ngModel)]="id_entreprise" (change)="entreprise_change()">
                <option value="" disabled>Toutes les entreprises</option>
                @for (one_entreprise of api.infos.les_entreprises; track $index) {
                <option [value]="one_entreprise.id_entreprise"> {{one_entreprise.nom_entreprise}} </option>
                }
            </select>
            <!-- Profil utilisateur -->
            <div class="dropdown">
                <a class="d-flex align-items-center text-decoration-none" href="#" role="button"
                    data-bs-toggle="dropdown">
                    <img src="img/DM2 1.png" alt="Avatar" class="rounded-circle me-2" width="40">
                    <!-- <span class="fw-semibold">{{"Marieta" }}</span> -->
                </a>
                <ul class="dropdown-menu dropdown-menu-end">

                    <li>
                        <a class="dropdown-item" [routerLink]="['/home/profil']">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <span class="fw-semibold d-block text-dark">
                                        {{ api.infos.utilisateur.prenom + " " + api.infos.utilisateur.nom }}
                                    </span>
                                    <small class="text-muted">{{ api.current_entreprise.libelle_pointage}}</small>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item d-flex align-items-center" [routerLink]="['/home/profil']">
                            <i class="bi bi-person me-2"></i> Mon profil
                        </a>
                    </li>
                    <li>
                        <a (click)="openModal_deconnexion()" class="dropdown-item d-flex align-items-center">
                            <i class="bi bi-power text-danger me-2"></i>
                            Déconnexion
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>