<!-- entete -->
<div class="d-flex align-items-center justify-content-between">
  <div class="fs-1"><span (click)="api.go_back()"><i class="bi bi-chevron-left clique"></i></span>
    <h2>Priviléges - {{ searchService.list.length }}</h2>
  </div>
  <div class="d-flex">
    <button class="btn btn-primary" (click)="openModal_add_privilege()">
      <i class="bi bi-plus"></i> Privilége
    </button>
  </div>
</div>
<!-- Liste des éléments -->
<div class="table-responsive">
  <table class="table table">
    <thead>
      <tr>
        <th scope="col">Ref</th>
        <th scope="col">Libelle</th>
        <th scope="col">Description</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (one_privilege of searchService.list; track one_privilege) {
      <tr>
        <td>P° {{ one_privilege.id_privilege }}</td>
        <td>{{ one_privilege.libelle }}</td>
        <td>{{ one_privilege.description }}</td>
        <!-- <td>{{ one_privilege.d }}</td> -->
        <td>
          <button class="btn btn-sm btn-warning me-2">
            <i style="cursor: pointer" class="bi bi-pencil-square"
              (click)="openModal_edit_privilege(one_privilege)"></i>
          </button>
          <button class="btn btn-sm btn-danger">
            <i style="cursor: pointer" class="bi bi-trash" (click)="delete_privilege(one_privilege)"></i>
          </button>
        </td>
      </tr>
      }
      <tr *ngIf="searchService.data<=0">
        <td colspan="6" class="text-center m-2">
          Aucune donnée
        </td>
      </tr>


    </tbody>
  </table>
</div>