<div class="modal-header" data-bs-theme="ligth">
        <h1 class="modal-title fs-5">Modifier utilisateur_entreprise</h1>
        <button type="button" class="btn-close" aria-label ="Close" (click)="activeModal.close()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="reactiveForm_edit_utilisateur_entreprise" (ngSubmit)="onSubmit_edit_utilisateur_entreprise()" #form_edit_utilisateur_entreprise="ngForm" class="row">
        
<!-- Champs Id Utilisateur avec un contrôle de validité : clé étrangère liée à la colonne id_utilisateur de la table utilisateur -->
            <div class="form-group col-sm-6">
              <label class="mb-2" >Utilisateur</label >
              <select [ngClass]="{ 'is-invalid': submitted && f.id_utilisateur.errors }" class="form-select" formControlName="id_utilisateur">
                <option value="">Sélectionnez un(e) Utilisateur</option>
                @for (one_utilisateur of form_details?.les_utilisateurs; track $index) {
                  <option [value]="one_utilisateur.id_utilisateur">
                    {{"Utilisateur N°" + one_utilisateur.id_utilisateur}}
                  </option>
                }
              </select>
              @if (submitted && f.id_utilisateur.errors) {
                <div class="invalid-feedback">
                  @if (f.id_utilisateur.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Champs Id Entreprise avec un contrôle de validité : clé étrangère liée à la colonne id_entreprise de la table entreprise -->
            <div class="form-group col-sm-6">
              <label class="mb-2" >Entreprise</label >
              <select [ngClass]="{ 'is-invalid': submitted && f.id_entreprise.errors }" class="form-select" formControlName="id_entreprise">
                <option value="">Sélectionnez un(e) Entreprise</option>
                @for (one_entreprise of form_details?.les_entreprises; track $index) {
                  <option [value]="one_entreprise.id_entreprise">
                    {{"Entreprise N°" + one_entreprise.id_entreprise}}
                  </option>
                }
              </select>
              @if (submitted && f.id_entreprise.errors) {
                <div class="invalid-feedback">
                  @if (f.id_entreprise.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Champs Id Privilege avec un contrôle de validité : clé étrangère liée à la colonne id_privilege de la table privilege -->
            <div class="form-group col-sm-6">
              <label class="mb-2" >Privilege</label >
              <select [ngClass]="{ 'is-invalid': submitted && f.id_privilege.errors }" class="form-select" formControlName="id_privilege">
                <option value="">Sélectionnez un(e) Privilege</option>
                @for (one_privilege of form_details?.les_privileges; track $index) {
                  <option [value]="one_privilege.id_privilege">
                    {{"Privilege N°" + one_privilege.id_privilege}}
                  </option>
                }
              </select>
              @if (submitted && f.id_privilege.errors) {
                <div class="invalid-feedback">
                  @if (f.id_privilege.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Created At field avec un contrôle de validité -->
            <div class="form-group col-sm-6">
              <label class="mb-2" >Created At</label >
              <input class="form-control" type="text" formControlName="created_at" placeholder="Created At" [ngClass]="{ 'is-invalid': submitted && f.created_at.errors }"/>
              @if (submitted && f.created_at.errors) {
                <div class="invalid-feedback">
                  @if (f.created_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
<!-- Updated At field avec un contrôle de validité -->
            <div class="form-group col-sm-6">
              <label class="mb-2" >Updated At</label >
              <input class="form-control" type="text" formControlName="updated_at" placeholder="Updated At" [ngClass]="{ 'is-invalid': submitted && f.updated_at.errors }"/>
              @if (submitted && f.updated_at.errors) {
                <div class="invalid-feedback">
                  @if (f.updated_at.errors.required) {
                    <div>Ce champ est obligatoire</div>
                  }
                </div>
              }
            </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary m-2" [disabled]="loading_edit_utilisateur_entreprise ||
      loading_get_details_edit_utilisateur_entreprise_form" (click)="form_edit_utilisateur_entreprise.ngSubmit.emit()">
          {{ loading_edit_utilisateur_entreprise ? "En cours ..." : "Valider" }}
      </button>
      <button type="button" class="btn btn-outline-danger" (click)="activeModal.close()">Fermer</button>
    </div>