<div class="container">
    <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->

                    <h1 class="text-center text-black m-0"><span class="bi bi-exclamation-circle"></span>Attention</h1>
                    <!-- /Logo -->
                    <hr>
                    <h4 class="m-4">Voulez-vous vous déconnecter ?</h4>

                    <p class="text-center">
                        <button class="btn btn-primary me-3" (click)="deconnexion()">OUI</button>
                        <button class="btn btn-danger me-3" (click)="modalService.close()">
                            NON
                        </button>
                    </p>
                </div>
            </div>
            <!-- /Register -->

</div>
            