<!-- entete -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="fs-1">Entreprise  - {{les_entreprises.length}}</div>
    <div class="d-flex">
      <button class="btn btn-primary" (click)="openModal_add_entreprise()">Ajouter Entreprise</button>
    </div>
  </div>
  <!-- Liste des éléments -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id_entreprise</th>
<th scope="col">libelle_entreprise</th>
<th scope="col">adresse</th>
<th scope="col">telephone</th>
<th scope="col">email</th>
<th scope="col">image</th>
<th scope="col">site_web</th>
<th scope="col">ninea</th>
<th scope="col">registre_de_commerce</th>
<th scope="col">pays</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th>
<th scope="col">etat</th><th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        @for (one_entreprise of les_entreprises; track one_entreprise) {
          <tr>
            <td>{{one_entreprise.id_entreprise}}</td>
<td>{{one_entreprise.libelle_entreprise}}</td>
<td>{{one_entreprise.adresse}}</td>
<td>{{one_entreprise.telephone}}</td>
<td>{{one_entreprise.email}}</td>
<td>{{one_entreprise.image}}</td>
<td>{{one_entreprise.site_web}}</td>
<td>{{one_entreprise.ninea}}</td>
<td>{{one_entreprise.registre_de_commerce}}</td>
<td>{{one_entreprise.pays}}</td>
<td>{{one_entreprise.created_at}}</td>
<td>{{one_entreprise.updated_at}}</td>
<td>{{one_entreprise.etat}}</td><td>
    <i style="cursor: pointer;" class="bi bi-pencil-square me-2" (click)="openModal_edit_entreprise(one_entreprise)"></i>
    <i style="cursor: pointer;" class="bi bi-trash" (click)="delete_entreprise(one_entreprise)"></i>
</td>
          </tr>
        }
      </tbody>
    </table>
  </div>