<!-- entete -->
  <div class="d-flex align-items-center justify-content-between">
    <div class="fs-1">Log  - {{les_logs.length}}</div>
    <div class="d-flex">
      <button class="btn btn-primary" (click)="openModal_add_log()">Ajouter Log</button>
    </div>
  </div>
  <!-- Liste des éléments -->
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">id_log</th>
<th scope="col">id_utilisateur</th>
<th scope="col">action</th>
<th scope="col">ip</th>
<th scope="col">created_at</th>
<th scope="col">updated_at</th><th scope="col">actions</th>
        </tr>
      </thead>
      <tbody>
        @for (one_log of les_logs; track one_log) {
          <tr>
            <td>{{one_log.id_log}}</td>
<td>{{one_log.id_utilisateur}}</td>
<td>{{one_log.action}}</td>
<td>{{one_log.ip}}</td>
<td>{{one_log.created_at}}</td>
<td>{{one_log.updated_at}}</td><td>
    <i style="cursor: pointer;" class="bi bi-pencil-square me-2" (click)="openModal_edit_log(one_log)"></i>
    <i style="cursor: pointer;" class="bi bi-trash" (click)="delete_log(one_log)"></i>
</td>
          </tr>
        }
      </tbody>
    </table>
  </div>