/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import url(../node_modules/@ng-select/ng-select/themes/default.theme.css);

html,
body {
  height: 100%;
  background-color: #e8eeec;
  --bs-body-font-family: 'Poppins', sans-serif !important
}

body {
  margin: 0;
}

.bg-menu-theme .menu-item.active>.menu-link:not(.menu-toggle) {
  background-color: rgba(190, 21, 140, 0.897) !important;
}

.cliquable {
  cursor: pointer;
}

.clique {
  cursor: pointer;
}

.clique:hover {
  cursor: pointer;
}

.ng-dropdown-panel-items {
  z-index: 1300 !important;
  // position: fixed !important;
}

.ngs {
  // min-width: 400px !important;
}

.ngs2 {
  // min-width: 150px !important;
}

.fc .fc-daygrid-day-frame {
  // height: 150px;
  // background: red;
  // overflow: scroll;
}

.fc-daygrid-event {
  white-space: break-spaces !important;
}

.fc-multimonth-month {
  width: 49% !important;
  margin-bottom: 25px;
}

.fc-multiMonthFourMonth-view {
  display: flex;
  justify-content: space-between;
}

.fc-col-header-cell-cushion {
  color: #1c5145;
}

.ng-dropdown-panel .ng-select-bottom {
  z-index: 990;
}

/* Contexte général */
// .table-vente-container {
//   background-color: #F5F7F8;
//   padding: 20px;
//   border-radius: 8px;
//   font-family: Arial, sans-serif;
// }

/* Tableau */
table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: 6px;
  // overflow: hidden;
  /* pour gérer les bords arrondis si besoin */
  // margin-bottom: 10px;

}

// thead,th {
//   background-color: #E8EBED;

// }
// .table:not(.table-dark) th {
//   color: #1c5145;


//   // th {
//   //   background-color: #E8EBED;

//   // }

//   // .table:not(.table-dark) th {
//   //   color: #1c5145;
//   // }

//   // th,
//   // td {
//   //   text-align: left;
//   //   padding: 12px;
//   //   border-bottom: 1px solid #ddd;
//   //   color: #333;

// }

// // th, td {
// //   text-align: left;
// //   padding: 12px;
// //   border-bottom: 1px solid #ddd;
// //   color: #333;
// // }

// // th {
// //   font-weight: 600;
// // }

// /* Dernière ligne sans bordure */
// tbody tr:last-child td {
//   border-bottom: none;
// }

// // /* Petite flèche indicative de tri (statique) */
// .arrow {
//   font-size: 12px;
//   margin-left: 4px;
//   color: #999;
// }

// // /* Pagination info */
// .pagination-info {
//   font-size: 14px;
//   color: #666;
//   margin-bottom: 10px;
// }

// // /* Contrôles de pagination */
// .pagination-controls {
//   display: flex;
//   align-items: center;
//   gap: 10px;
// }

// .pagination-controls button {
//   background-color: #fff;
//   border: 1px solid #ccc;
//   padding: 6px 12px;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .pagination-controls button:disabled {
//   cursor: not-allowed;
//   opacity: 0.5;
// }

// // .card {
// //   transition: transform 0.2s, box-shadow 0.2s;
// // }

// .card:hover {
//   transform: translateY(-5px);
//   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
// }

// // .card-title {
// //   font-weight: bold;
// //   font-size: 1.25rem;
// // }

// // .card-text {
// //   margin-bottom: 0.5rem;
// // }

// // .dropdown-menu {
// //   min-width: 150px; // Pour une meilleure présentation
// // }

// // .text-primary {
// //   color: #007bff; // Couleur Bootstrap pour le texte
// // }

// .border-light {
//   border: 1px solid rgba(0, 0, 0, 0.125);
// }

// .custom-card {
//   background-color: rgba(255, 255, 255, 0.9); // Fond blanc semi-transparent
//   border: 1px solid rgba(0, 0, 0, 0.1); // Bordure légère
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Ombre légère
//   transition: transform 0.2s, box-shadow 0.2s;
// }

// .custom-card:hover {
//   transform: translateY(-5px);
//   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); // Ombre plus marquée au survol
// }

// // .card-title {
// //   font-weight: bold;
// //   font-size: 1.25rem;
// // }

// }

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 1.1;
  color: #566a7f !important;
}


// h6,
// .h6,
// h5,
// .h5,
// h4,
// .h4,
// h3,
// .h3,
// h2,
// .h2,
// h1,
// .h1 {
//   color: #566a7f !important;
// }

.form-label {
  margin-bottom: .5rem;
  font-size: .75rem;
  font-weight: 500;
  color: #566a7f !important;
}
